/* General Website Formatting */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    line-height: 34px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding: 0px;
}

.footer {
    position: absolute;
    bottom: 0%;
    left: 42%;
    right: 42%;
    color: white;
}

h3 {
    color: darkolivegreen;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .15rem;

}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    color: #0D0A0B;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    padding-bottom: 2%;
}

section {
    width: 100%;
    padding: 7% 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
};

/* Header Styling */
.navbar-header {
    background-color: transparent;
    color: white;
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.8rem;
}

/* #headshot {
    width: 480px;
    max-width: -webkit-fill-available;
    padding-top: 10px;
} */


/* Home Page */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../view.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}

#home {
    position: relative;
}

#homePage {
    position: absolute;
    top: 40%;
    width: inherit;
}

.btn {
    background: transparent;
    padding: 7px 20px 10px 20px;
    color: white;
    border: 3px solid white;
    margin: 10px 10px;
}

#homePage h1 {
    color: white;
    line-height: initial;
    font-size: 40px;
    padding-bottom: initial;
}

#homePage h3 {
    color: white;
}

/* About Me Page */

#headshot {
  width: 480px;
  max-width: -webkit-fill-available;
  padding-top: 10px;
}

/* Contact Page

#contact {
    height: 99vh;
}

#contact a {
    color: white;
}

#contact .row {
    color: white;
}


#social a:hover {
    color: lightgray;
}


#contact h3 {
    color: white;
}

#contact h1 {
    color: white;
    padding-bottom: 15%;
} */

* { box-sizing: border-box; }

/* Portfolio Page */

#portfolio {
  background-color: lightgrey;
}


.work:hover .image {
opacity: 0.6;
transform: scale(1.1);
width: 100%;
}

.text {
  background-color: white;
  text-size-adjust: auto;
  text-align: -webkit-center;
  color: darkolivegreen;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: 110%;
} 

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  border: 1px solid #333;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */


.element-item {
display: block;
  width: 30.1923076923%;
  margin: 2.4038461538% 0 0 2.4038461538%;
  padding: 0.7692307692% 0.7692307692% 0 0.7692307692%;
  background: white;
  color: #262524;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-position: left top;
}
@media only screen and (max-width: 568px) {

    .element-item {
        width: 45%;
        margin: 3.5% 0 0 3.5%;
        padding: 1.666666666% 1.666666666% 0 1.666666666%
    }
} 

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
    position: absolute;
  
    left: 10px;
    top: 160px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
    background: white;
  }
  
  .element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
  }
  
  .element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
  }
  
  .element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
  }
  
/* Contact Page */

#contact {
  height: 99vh;
}

#contact a {
  color: white;
}

#contact .row {
  color: white;
}


#social a:hover {
  color: lightgray;
}


#contact h3 {
  color: white;
}

#contact h1 {
  color: white;
  padding-bottom: 15%;
}

  
